<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>281551437869-7nq8fulrqa3mtbbis17pcc6aoj1bh6oi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.281551437869-7nq8fulrqa3mtbbis17pcc6aoj1bh6oi</string>
	<key>API_KEY</key>
	<string>AIzaSyBHAhGdfVs4yG20dVrO20mbNgly3YjRGq4</string>
	<key>GCM_SENDER_ID</key>
	<string>281551437869</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zk.StockTradingApp</string>
	<key>PROJECT_ID</key>
	<string>myportfolio-2f6cd</string>
	<key>STORAGE_BUCKET</key>
	<string>myportfolio-2f6cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:281551437869:ios:c5657ab1e87550ed4eb8a4</string>
</dict>
</plist>